.task-container {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-deadline {
    margin-left: 15px;
    font-size: 12px;
    background: #ECF87F;
    border-radius: 5px;
    padding: 0 5px;
}