:root {
    box-sizing: border-box;
    background: #D4D6CF;
}

body {
    margin: 0;

    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    color: #333333;
    width: 100vw;
}