div {
    flex-basis: 200px;
    margin-left: 20px;
}

label {
    display: block;

    width: 100%;
    max-width: 250px;
}

input {
    width: 20px;
    padding: 5px 5px;
    text-align: center;
    margin-left: 10px;
}